* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 45px;
    color: #37c70b;
}

body {
    min-height: 98vh;
    width: 100%;
    background: linear-gradient(48deg, #3e4567, #2d4b2d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.clock {
    border: 2px solid #757e34;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #666666;
    box-shadow: 0 0 30px rgba(0, 0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 11px;
    text-align: center;
}

/* .clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
} */

.clock::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 5;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i {
    width: 10px;
    height: var(--ht);
    background-color: var(--clr);
    position: absolute;
    border-radius: 10px;
}